<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-4 mt-4">
      <h1>Bills</h1>
    </div>

    <div class="col-sm-6 text-right mt-4">
    <%= link_to new_bill_path, class: 'btn btn-primary' do %>
      Add New Bill
    <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
      

              <th>Title</th>
              <th>Summary</th>
              <th>Timestamp</th>
              <th>Author</th>
              <th>Localization</th>
              <th>Status</th>
              <th>Expiration date</th>
              <th>Last process date</th>
              <th>Last process status</th>
              <th>Attachment docs</th>
              <th>Link</th>
              
            <th></th>
          
        </tr>
      </thead>

      <tbody>
        <% @bills.each do |bill| %>
          <%= content_tag :tr, id: dom_id(bill), class: dom_class(bill) do %>
            

                        <td><%= bill.title %></td>
                        <td><%= bill.summary %></td>
                        <td><%= bill.timestamp %></td>
                        <td><%= bill.author %></td>
                        <td><%= bill.localization %></td>
                        <td><%= bill.status %></td>
                        <td><%= bill.expiration_date %></td>
                        <td><%= bill.last_process_date %></td>
                        <td><%= bill.last_process_status %></td>
                        <td><%= bill.attachment_docs %></td>
                        <td><%= bill.link %></td>
            
            
              <td><%= link_to 'Show', bill %></td>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>