<%= form_with(model: book, local: true, class: 'w-full') do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :topic %>
    <%= form.text_field :topic, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if book.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', book, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if book.persisted? %>
      <%= link_to "Cancel", book, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", books_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
<form class="w-full">
  <div class="flex flex-wrap">
    <div class="">
      <label><strong>Escolha a categoria do tópico:</strong></label>

      
      <%= select_tag "grid-state", options_for_select([ "Administração", "Eng. Civil" ], "MasterCard"), class: "block appearance-none ml-8 mt-4 w-64 bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded"  %> 
      
      <select class="block appearance-none ml-8 mt-4 w-64 bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" id="grid-state">
        <option>Administração</option>
        <option>Eng. Civil</option>
        <option>Eng. Elétrica</option>
        <option>Direito</option>
        <option>Medicina</option>
        <option>Med. Veterinária</option>
      </select>
    
    <h3 class="w-full ml-8 mt-8 text-grey-darker font-bold">Question</h3>
    <textarea class="appearance-none block h-64 w-2/3 bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 ml-8 mt-8" name="question" id="" type="text"></textarea>
      <h3 class="w-full ml-8 mt-8 text-grey-darker font-bold">Option</h3>
      <div class="w-full md:w-1/2 px-3">
        <input class="appearance-none block h-16 w-2/3 bg-grey-lighter text-grey-darker border  rounded py-3 px-4 mb-3 ml-8 mt-8" type="text"/>
        <input class="appearance-none block h-16 w-2/3 bg-grey-lighter text-grey-darker border  rounded py-3 px-4 mb-3 ml-8 mt-8" type="text"/>
      </div>
      
  </div>
</form>